@page
@model Shows4all.App.Pages.CreditCards.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreditCardPayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreditCardPayment.CardName" class="control-label"></label>
                <input asp-for="CreditCardPayment.CardName" class="form-control" />
                <span asp-validation-for="CreditCardPayment.CardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardPayment.Number" class="control-label"></label>
                <input asp-for="CreditCardPayment.Number" class="form-control" />
                <span asp-validation-for="CreditCardPayment.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardPayment.CVV" class="control-label"></label>
                <input asp-for="CreditCardPayment.CVV" class="form-control" />
                <span asp-validation-for="CreditCardPayment.CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardPayment.ExpDate" class="control-label"></label>
                <input asp-for="CreditCardPayment.ExpDate" class="form-control" />
                <span asp-validation-for="CreditCardPayment.ExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardPayment.IdCustomer" class="control-label"></label>
                <select asp-for="CreditCardPayment.IdCustomer" class ="form-control" asp-items="ViewBag.IdCustomer"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
