@page
@model Shows4all.App.Pages.User.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Menu Administrador</h1>
<hr />
<br />
<p><a href="/actors/index">Actors</a></p>

<p><a href="/series/index">Series</a></p>

<p><a href="/participates/index">Include Actors in series</a></p>






   
