
@model Shows4all.App.Pages.IndexModelFilter
@{
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="CreditCardFilter" class="control-label"></label>
                <input asp-for="CreditCardFilter" class="form-control" />
                <span asp-validation-for="CreditCardFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Rentals">Back to List</a>
</div>

<hr />



@if (Model.CreditCardPayment != null)
{
    <ul>

        @foreach (var cardName in Model.CreditCardPayment)
        {
            <li>
                @cardName.IdCustomer  - @cardName.CardName
            </li>
        }
    </ul>
}