@page
@model Shows4all.App.Pages.Participates.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Participate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Participate.Id" />
            <div class="form-group">
                <label asp-for="Participate.IdActor" class="control-label"></label>
                <select asp-for="Participate.IdActor" class="form-control" asp-items="ViewBag.IdActor"></select>
                <span asp-validation-for="Participate.IdActor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participate.IdEpisode" class="control-label"></label>
                <select asp-for="Participate.IdEpisode" class="form-control" asp-items="ViewBag.IdEpisode"></select>
                <span asp-validation-for="Participate.IdEpisode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
